# .gitignore

# Ignore all pickle files
*.pickle

# Ignore all .env files (commonly used for secrets)
*.env

# Ignore all .json files in the root directory (also commonly used for secrets)
/*.json
checkcsv.py
converttojson.py
compareJSONtofilesys.py
comparison_results.csv
